<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/style2.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Profil</title>
</head>
<body>
    <div class="wrapper">

        <div class="navbar-wrapper">
            <nav>
                <ul>
                    <li><a href="home?user=<%=userType%>">Home</a></li>
                    <li><a id="alerts" href="userAlerts">Alerts</a></li>
                    <li><a id="medecins" href="medecins">Medecins</a></li>
                    <li><a id="demandes" href="demandes">Demandes</a></li>
                    <li><a href="mesDemandes">Mes demandes</a></li>
                    <li><a id="patients" href="patients">Patients</a></li>
                    <li><a id="patientValuer" href="patientValues">Prelevements</a></li>
                    <li><a id="myProfile" href="myProfileUser">My profile</a></li>
                    <li><a id="seuils" href="seuils">Seuils</a></li>
                    <li><a id="newValues" href="newvalues">New values</a></li>
                </ul>
                <ul class="log-out">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>

    

    </div>
    <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript">
       
        var url_string = window.location.href;
        var url = new URL(url_string);
        var param = url.searchParams.get("user");
        var _newValues = document.getElementById('newValues');
        var _medecins = document.getElementById('medecins');
        var _demandes = document.getElementById('demandes');
        if(param === "normal" || param === null){
            _newValues.style.display = "block";
            _medecins.style.display = "block";
            _demandes.style.display = "none";
        }

        if(param === "medecin"){
            _newValues.style.display = "none";
            _medecins.style.display = "none";
            _demandes.style.display = "block";
        }
     
 </script>
</body>
</html>