<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/css/style2.css">
        <title>New values</title>
    </head>
    <body>
        <div class="navbar-wrapper">
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="">Profil</a></li>
                    <li><a href="newvalues">New values</a></li>
                </ul>
                <ul class="log-out">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>
        <form id="formValues" method="POST">
            <label for="temperature">Température</label>
            <input name="temperature" placeholder="Température" required>
            <label for="tension">Tension</label>
            <input name="tension" placeholder="Tension" required>
            <label for="tauxOxygene">Taux oxygène</label>
            <input name="tauxOxygene" placeholder="Taux oxygène" required>
            <label for="tauxGlucose">Taux glucose</label>
            <input name="tauxGlucose" placeholder="Taux glucose" required>
            <input type="submit" value="Valider">
        </form>
        <script type="text/javascript">
            
        </script>
    </body>
</html>