<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="disabled-adaptations" content="watch">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PFA</title>
  <link rel="shortcut icon" type="image/jpg" href="public/images/doctor.jpg">
  <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>

<body>
  <nav class="nav-index">
    <a href="patientHome"><img src="/public/images/logoPFA.png" class="logo"></a>
    <ul>
      <li><a href="registration">S'inscrire</a></li>
      <li><a href="login">S'identifier</a></li>
    </ul>
  </nav>

  <div class="v-header">
    <div class="fs-video">
      <video src="/public/videos/health.mp4" autoplay="true" loop="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1>Votre médecin est toujours avec vous</h1>
      <p>Rejoignez-nous pour essayer cette expérience</p>
      <a href="registration" class="btn btn-big" id="button">Joindre</a>
    </div>
  </div>
  <section class="section section-a">
    <div class="container">
      <h1>A propos</h1>
      <p>En prenant l'exemple du diagnostic effectué par les bracelets électroniques, différentes mesures peuvent
        alerter sur l'état de santé d'une personne : Température, Tension artérielle, Taux d'Oxygénation et de Glucose
        dans le sang. Il est à considérer que chaque ces données pourrait être relevée 4 fois par jours.
        Les valeurs stockées, pourraient être consultées non seulement par la personne elle-même, mais aussi par une
        autre personne-métier, telle que un Médecin, Un Coach Sportif, etc. Ces données vont être présenter dans un
        tableau de bord, sous format graphique, sur une période de temps : jour, semaine, mois, année.
      </p>
    </div>
  </section>
  <section class="section section-b">
    <div class="container">
      <h1>Une interface résponsive</h1>
      <p>Vous pouvez nous visiter depuis :</p>
      <div class="columns section-img">
        <div class="col">
          <p>L'ordinateur</p><img src="public/images/laptop.jpg" class="widget laptop">
        </div>
        <div class="col">
          <p>Le smartphone</p><img src="public/images/smartphone.jpg" class="widget smartphone">
        </div>
        <div class="col">
          <p>La smartwatch</p>
          <img src="public/images/smartwatch.jpg" class="widget smartwatch">
        </div>
      </div>
    </div>
  </section>

</body>
<footer>
  <div class="footer">
    <p>&copy; Copyright Ensias 2020</p>
    <h1>LOGO</h1>
  </div>
</footer>

</html>