<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join us</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;0,700;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="columns">
            <div class="img">
                <img class="login-img auth-img" src="public/images/health.jpg">
            </div>
            <div class="form-cont">
                <div class="form">


                    <a href="/"><img class="login-img-logo" src="/public/images/logoPFA.png"></a>
                    <h1>S'identifier</h1>
                    <p>Bon retour</p>
                    <% if(error!="") { %>
                    <div class="msgError btn-echec">
                        <p><%=error%></p>
                    </div>
                    <% } %>
                    <form action="/login" method="POST">
                        <label>
                            <span>Email</span>
                            <input class="login-input" type="text" name="email" required>
                        </label>
                        <label>
                            <span>Mot de passe</span>
                            <input class="login-input" type="password" name="password" required>
                        </label>
                        <p class="forgot-pass">Mot de passe oublié ?</p>
                        <button class="btn btn-round submit" type="submit">S'identifier</button>
                        <br>
                        <p>Vous n'avez pas de compte? <a href="registration" class="link">Joindre</a></p>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

</html>