<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/public/pidie-master/pidie-0.0.8.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap"
        rel="stylesheet">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <div class="login-container">
        <div class="columns">
            <div class="img">
                <img class="login-img reg-img" src="/public/images/register.jpg" id="imginscription">
            </div>


            <div class="form-cont" action="/registration" method="POST">


                <div class="form">
                    <a href="/"><img class="login-img-logo" src="/public/images/logoPFA.png"></a>
                    <h1>S'inscrire</h1>
                    <p>Bienvenue avec nous</p>
                    <p>Vous avez déjà un compte? <a class="link" href="login">S'identifier</a></p>

                    <% if(error!="") { %>
                    <div class="msgError btn-echec">
                        <p><%=error%></p>
                    </div>

                    <% } %>
                    <label>
                        <span class="no-margin">Type d'utilisateur</span>
                    </label>
                    <div class="center">
                        <div class="radio-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="type" id="patient" value="patient" checked="true">
                                    <span>Patient</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label class="radio">
                                    <input type="radio" name="type" id="med" value="medecin">
                                    <span class="cercle"></span>
                                    <span>Médecin</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <form class="form-user" id="form-user" action="/registration?user=normal" method="POST">
                        <label>
                            <span>Nom</span>
                            <input class="login-user-input" type="text" name="nom" id="nom" required>
                        </label>
                        <label>
                            <span>Prénom</span>
                            <input class="login-user-input" type="text" name="prenom" id="prenom" required>
                        </label>

                        <div class="center">
                            <div class="radio-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" id="homme" value="homme" checked>
                                        <span>Homme</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="radio">
                                        <input type="radio" name="gender" id="femme" value="femme">
                                        <span>Femme</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <label>
                            <span>Pays</span>
                            <div class="pd-flag-select" onclick="cities()">
                                <select class="pd-countries" name="pays" id="pays"></select>
                            </div>

                        </label>

                        <label>
                            <span>Ville</span>
                            <div class="pd-cities-select"></div>
                            <select class="pd-cities login-input" name="ville" id="ville">
                            </select>
                        </label>

                        <label>
                            <span>Téléphone</span>
                            <div class="pd-telephone-input">
                                <input class="login-user-input" type="tel" name="telephone" required>
                            </div>
                            <!-- <input class="login-user-input" type="number" name="telephone" required> -->
                        </label>
                        <label>
                            <span>Date de naissance</span>
                            <input class="login-user-input" type="date" name="dateNaissance" required>
                        </label>
                        <label>
                            <span>Groupe sanguin</span>
                            <!-- <input class="login-input" type="text" name="gs" required> -->
                            <select name="grpsang" id="gs">
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </label>
                        <label>
                            <span>Maladie diabète</span>
                            <select name="diabete" id="maladie">
                                <option value="none">Aucune Maladie</option>
                                <option value="diabète géstionnel">Diabète géstionnel</option>
                                <option value="diabète type 1">diabète type 1</option>
                                <option value="diabète type 2">diabète type 2</option>
                            </select>
                        </label>
                        <Label id="maladies">
                            <div class="buttons-inline">
                                <span>Ajouter d'autres maladies</span>
                                <a class="btn-icon btn-success " onclick="addField()"><i class="fas fa-plus"></i></a>
                            </div>
                        </Label>
                        <label>
                            <span>Email</span>
                            <input class="login-user-input" type="text" id='email' name="email" onblur="validateEmail()"
                                required>
                        </label>
                        <label>
                            <span>Mot de passe</span>
                            <input class="login-user-input" type="password" name="password" required>
                        </label>
                        <label>
                            <span>Confirmer le mot de passe</span>
                            <input class="login-user-input" type="password" name="confirmation" required>
                        </label>
                        <button class="btn btn-round submit" id='submituser' type="submit">ok</button>
                    </form>
                    <form class="form-doc" id="form-doc" action="/registration?user=medecin" method="POST">
                        <label>
                            <span>Nom</span>
                            <input class="login-medecin-input" type="text" name="nom" required>
                        </label>
                        <label>
                            <span>Prenom</span>
                            <input class="login-medecin-input" type="text" name="prenom" required>
                        </label>
                        <label>
                            <span>Pays</span>
                            <div class="pd-flag-select" onclick="cities()">
                                <select class="pd-countries" name="pays" id="paysMed"></select>
                            </div>

                        </label>
                        <div class="pd-cities-select">
                            <label>
                                <span>Ville</span>
                                <select class="pd-cities" name="ville" id="villeMed">
                                </select>
                            </label>
                        </div>
                        <label>
                            <label>
                                <span>Téléphone</span>
                                <div class="pd-telephone-input">
                                    <input type="tel" class="login-input" name="telephone">
                                </div>
                            </label>
                            <label>
                                <span>Spécialité</span>
                                <select class="login-medecin-input" type="text" name="specialite">
                                    <option value="Génénéraliste">Généraliste</option>
                                    <option value="La cardiologie">La cardiologie</option>
                                    <option value='La pneumologie'>La pneumologie</option>
                                    <option value="L'endocrinologie">L'endocrinologie</option>
                                    <option value="La dermatologie">La dermatologie</option>
                                    <option value="La gastro-entérologie">La gastro-entérologie</option>
                                    <option value="La néphrologie">La néphrologie</option>
                                    <option value="La neurologie">La neurologie</option>
                                    <option value="La pédiatrie">La pédiatrie</option>
                                    <option value="La gynécologie">La gynécologie</option>
                                    <option value="Chirurgies">Chirurgies</option>
                                </select>
                            </label>
                            <label>
                                <span>Adresse du lieu de travail</span>
                                <input class="login-medecin-input" type="text" name="adresse" required>
                            </label>
                            <label>
                                <span>Email</span>
                                <input class="login-medecin-input" type="text" name="email" required>
                            </label>
                            <label>
                                <span>Mot de passe</span>
                                <input class="login-medecin-input" type="password" name="password" required>
                            </label>
                            <label>
                                <span>Confirmer le mot de passe</span>
                                <input class="login-medecin-input" type="password" name="confirmation" required>
                            </label>
                            <button class="btn btn-round submit" type="submit">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script src="public/js/radio.js"></script>
    <script src="public/js/app.js"></script>
    <script src="/public/pidie-master/pidie-0.0.8.js"></script>
    <script src="/public/pidie-master/cities.js"></script>



    <script>
        new Pidie();
    </script>
</body>


</html>