<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="disabled-adaptations" content="watch">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PFA</title>
  <link rel="shortcut icon" type="image/jpg" href="public/images/doctor.jpg">
  <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>

<body>
  <nav class="nav-index">
    <label class="logo">LOGO</label>
    <ul>
      <li><a href="registration">S'inscrire</a></li>
      <li><a href="login">S'identifier</a></li>
    </ul>
  </nav>



</body>


</html>